<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directionDetectionThreshold</key>
	<integer>20</integer>
	<key>mergeConsecutiveIdenticalGestures</key>
	<false/>
	<key>showIconInStatusBar</key>
	<true/>
	<key>defaultLineColor</key>
	<string>#0000ff</string>
	<key>defaultNoteColor</key>
	<string>#000000</string>
	<key>showUIInWhateverApp</key>
	<false/>
	<key>showGestureNote</key>
	<true/>
	<key>gestureSize</key>
	<integer>80</integer>
	<key>noteFontSize</key>
	<integer>88</integer>
	<key>noteFontName</key>
	<string>Monaco</string>
	<key>openPrefOnStartup</key>
	<true/>
	<key>showGesturePreview</key>
	<true/>
</dict>
</plist>
