//
//  Config.xcconfig
//  MacGesture
//
//  Created by Michal Zelinka on 17/06/2020.
//  Copyright © 2020 MacGesture. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT        = MacGesture
APP_BUNDLE     = com.codefalling.$(PRODUCT:rfc1034identifier)
APP_VERSION    = 3.1.0
APP_BUILD      = 194
